/folder_report_Inbox.csv
/folder_report_Sent Items.csv
/folder_report_ziad.csv
/guy@pitarohecht.com.nst
/guy@pitarohecht.com_0.pst
/mail.json
/message_body_Inbox.txt
/message_body_Sent Items.txt
/message_body_ziad.txt
/test.CSV
/test.ost
/Еженедельный отчет об активности Daniel.txt